In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('../data/raw/nwtco.csv')

In [3]:
dat.head()

,Unnamed: 0,seqno,instit,histol,stage,study,rel,edrel,age,in.subcohort
0,1,1,2,2,1,3,0,6075,25,False
1,2,2,1,1,2,3,0,4121,50,False
2,3,3,2,2,1,3,0,6069,9,False
3,4,4,2,1,4,3,0,6200,28,True
4,5,5,2,2,2,3,0,1244,55,False

From: https://vincentarelbundock.github.io/Rdatasets/doc/survival/nwtco.html

## Data from the National Wilm's Tumor Study
### Description
Measurement error example. Tumor histology predicts survival, but prediction is stronger with central lab histology than with the local institution determination.

### Usage
nwtco

### Format
A data frame with 4028 observations on the following 9 variables.

##### seqno
id number

##### instit
Histology from local institution

##### histol
Histology from central lab

##### stage
Disease stage

##### study
study

##### rel
indicator for relapse

##### edrel
time to relapse

##### age
age in months

##### in.subcohort
Included in the subcohort for the example in the paper

### References
NE Breslow and N Chatterjee (1999), Design and analysis of two-phase studies with binary outcome applied to Wilms tumour prognosis. Applied Statistics 48, 457â€“68.

### Examples
```
with(nwtco, table(instit,histol))
anova(coxph(Surv(edrel,rel)~histol+instit,data=nwtco))
anova(coxph(Surv(edrel,rel)~instit+histol,data=nwtco))
```

In [5]:
6500/365

17.80821917808219

In [6]:
dat.seqno.max()

4088

In [9]:
dat['T.categ'].unique()

array(['hs', 'haem', 'other', 'hsid', 'het', 'id', 'mother', 'blood'],
      dtype=object)